/*@import url("../assets/styles/index.css");*/
/*
* {
    --black-color: #111111;
    --white-color: #ffffff;
    --azure-1: rgb(164, 221, 221);
    --azure-2: rgb(43, 183, 183);
    --brown-1: #706548;
    --grey-1: #e5e5e5d7;
    --grey-2: #f0efeff0;
    --grey-3: #444343;
    --grey-4: rgba(31, 31, 31, 0.772);
    --grey-5: #dcd8d8;
    --green-1: rgb(64, 160, 64);
    --green-2: rgb(106, 208, 106);
    --green-3: green;
    --linkedin-color: #007bb5;
    box-sizing: border-box;
}
*/